<a href="https://colab.research.google.com/github/SyedaSaadat/global-salary-analysis/blob/main/adult.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
url = 'https://raw.githubusercontent.com/SyedaSaadat/global-salary-analysis/main/adult.csv'
df = pd.read_csv(url)

df.head()

,age,workclass,education,educationyears,maritalstatus,occupation,relationship,race,sex,hoursperweek,nativecountry,incomeUSD
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,43747
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,38907
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,25055
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,26733
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,23429

In [7]:
# filter rows where country starts with 'S'
country_data = df[df['nativecountry'].str.startswith('S')]

# Preview the filtered data
country_data.head()

,age,workclass,education,educationyears,maritalstatus,occupation,relationship,race,sex,hoursperweek,nativecountry,incomeUSD
1586,51,Private,Some-college,10,Divorced,Exec-managerial,Unmarried,White,Male,45,Scotland,24726
5259,18,Private,11th,7,Never-married,Other-service,Own-child,White,Male,20,Scotland,49921
8165,42,Private,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,35,Scotland,24116
15039,29,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,40,Scotland,26922
17176,40,Private,Some-college,10,Married-civ-spouse,Other-service,Wife,White,Female,40,Scotland,48645

In [18]:
numeric_attribute = 'incomeUSD'

min_value = country_data[numeric_attribute].min()
max_value = country_data[numeric_attribute].max()
range_value = max_value - min_value
mean_value = country_data[numeric_attribute].mean()
median_value = country_data[numeric_attribute].median()
mode_value = country_data[numeric_attribute].mode().values[0]
std_deviation = country_data[numeric_attribute].std()
q1_value = country_data[numeric_attribute].quantile(0.25)
q3_value = country_data[numeric_attribute].quantile(0.75)

print(f"Min: {min_value:.2f}")
print(f"Max: {max_value:.2f}")
print(f"Range: {range_value:.2f}")
print(f"Mean: {mean_value:.2f}")
print(f"Median: {median_value:.2f}")
print(f"Mode: {mode_value}")
print(f"Std Dev: {std_deviation:.2f}")
print(f"Q1: {q1_value:.2f}")
print(f"Q3: {q3_value:.2f}")

Min: 23994.00
Max: 104080.00
Range: 80086.00
Mean: 44419.11
Median: 47514.00
Mode: 23994
Std Dev: 25421.54
Q1: 24726.00
Q3: 49854.00